.recipes {
  margin-top: 20px;
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #F8F8F8;
}

.recipes-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  min-height: 275px;
  min-width: 250px;
}

.recipes-index-text {
  font-family: europa-regular, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
