.sidebar {
  /* grid-area: sb; */
  display: flex;
  width: 204px;
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  box-shadow: 1px 0 2px lightgray;
  background-color: #FFFFFF
}

.login-signup-button {
  background-color: #4B9B96;
  border-radius: 30px;
  height: 40px;
  width: 140px;
  color: #FFFFFF;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: europa-boldregular, sans-serif;
}

#session-links {
  justify-content: center;
  align-items:;
  text-align: center;
  margin-top: 30px;
}

.line-div {
  border: #E3E3E3 1px solid;
  width: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top:
}

#personal-greeting {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

#greeting-link {
  display: flex;
  justify-content: center;
}

.greeting-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: seashell;
}

.logout-button {
  background-color: #4B9B96;
  border-radius: 30px;
  height: 40px;
  width: 140px;
  color: #FFFFFF;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: europa-boldregular, sans-serif;
  margin-top: 20px;
}

.sidebar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
