.sidebar {
  grid-area: sb;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
}

.sidebar-links {
  padding: 10px;
  color: aqua;
}

.link {
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-signup-button {
  background-color: #4B9B96;
  border-radius: 30px;
  height: 40px;
  width: 140px;
  color: #FFFFFF;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: europa-boldregular, sans-serif;
}

#session-links {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.line-div {
  border: #E3E3E3 1px solid;
  width: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top:
}

#personal-greeting {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.logout-button {
  background-color: #4B9B96;
  border-radius: 30px;
  height: 40px;
  width: 140px;
  color: #FFFFFF;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: europa-boldregular, sans-serif;
}
