.session-form-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.session-form {
  text-align: center;
}
.signup-input {
  border: 0px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
}

.signup-submit {
  width: 250px;
  height: 50px;
  border-radius: 30px;
  margin-bottom: 10px;
  background-color: #4B9B96;
  font-family: europa-regular, sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 10px;
}
